
:root{
    --sfondo:#118a7e;
    --button-bg:#93e4c1 ;
    --text-area-bg:white;
}

body {
    background-color: var(--sfondo)!important;
    height: 100%;
    color: white;
    padding: 20px;
}


title {
    color: white !important;
}


.textarea-container {
    width: 300px;
    height: 400px;
    resize: both;
    overflow: hidden;
}


textarea {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    background-color: var(--text-area-bg);
    padding: 2%;

}

title {
    display: flex;
    justify-content: center;
}

.footer{
    position:fixed;
    bottom: 0;
    right: 0;
    background-color:#1f6f78;
    color: white !important;
}


.button-row {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: space-around;
}

button {
    cursor: pointer;
    background-color: var(--button-bg);
}

i{
    cursor: pointer;
}

i:hover{
    cursor: pointer;
    font-size: large;
}


